{% load i18n djinn_contenttypes %}

{% if obj.is_deleted %}
<del title="{% blocktrans with object_name=obj.ct_label %}{{ object_name }} is removed{% endblocktrans %}">{{ obj.title|abbreviate:truncate }}</del>
{% elif not obj.is_published %}
<del title="{% blocktrans with object_name=obj.ct_label %}{{ object_name }} is not available{% endblocktrans %}">{{ obj.title|abbreviate:truncate }}</del>
{% else %}
<a href="{{ obj.get_absolute_url }}">
  {{ obj.title|abbreviate:truncate }}
</a>
{% endif %}
