{% extends "layout-modal.html" %}
{% load i18n auth_tags bootstrap %}

{% block header %}

<header>
  <h2>{% trans "Edit" %} {{ view.ct_label }}</h2>
</header>

{% endblock %}

{% block body %}

{% block errors %}
{% endblock %}

{% block form %}
<form action="{{ view.edit_url }}" method="POST">
  {% csrf_token %}

  {% block formfields %}
  {{ form|bootstrap }}
  {% endblock %}

  {% block formcontrols %}
  <div class="btn-group form-actions">
    <button class="btn btn-primary protected" type="submit" 
            value="save" name="action">
      {% trans "Save" %}
    </button>
    <button class="btn cancel">
      {% trans "Cancel" %}
    </button>
  </div>
  {% endblock %}

</form>
{% endblock %}
{% endblock %}
