{% extends "layout-8x4.html" %}
{% load i18n %}

{% block body_class %}ct {{ object.ct_name }} edit{% endblock %}

{% block errors %}
  
{% if form.errors %}

<div class="alert alert-error">
  <strong>{% trans "Please correct the following errors" %}</strong>
  <ul class="basic-list">
    
    {% for field in form %}
    {% if field.errors %}
    <li><strong>{{ field.label }}</strong>: {{ field.errors }}</li>
    {% endif %}
    {% endfor %}    
  </ul>
</div>

{% endif %}

{% endblock %}

{% block pre_container %}
<form action="" method="POST">
  {% csrf_token %}
{% endblock %}

{% block post_container %}  
</form>
{% endblock %}
