{% extends "base_edit.html" %}
{% load i18n bootstrap %}

{% block body_class %}ct {{ view.ct_name }} add{% endblock %}

{% block header %}
<header>
  <h1>
    {% trans "New" %} {{ view.ct_label|lower }}
  </h1>
</header>
{% endblock %}


{% block formcontrols %}
<div class="btn-group form-actions">
  <button class="btn btn-primary protected save-action" type="submit" 
          value="save" name="action">
    {% trans "Save" %}
  </button>
    <button class="btn protected cancel-action" type="submit" 
          value="cancel" name="action">
    {% trans "Cancel" %}
  </button>
</div>
{% endblock %}
