{% extends "layout-8x4.html" %}
{% load i18n bootstrap %}

{% block body_class %}ct {{ view.ct_name }} edit{% endblock %}

{% block left-pane %}

{% block header %}
<header>
  <h1>
    {% trans "New" %} {{ view.ct_label|lower }}
  </h1>
</header>
{% endblock %}

{% block errors %}
  
{% if form.errors %}
<div class="alert alert-error">
  <strong>{% trans "Please correct the following errors" %}</strong>
  <ul class="basic-list">    
    {% for field in form %}
    {% if field.errors %}
    <li><strong>{{ field.label }}</strong>: {{ field.errors }}</li>
    {% endif %}
    {% endfor %}    
  </ul>
</div>
{% endif %}

{% endblock %}

{% block form %}
<form action="" method="POST" id="editform">
  {% csrf_token %}

  {% block formfields %}
  {{ form|bootstrap }}
  {% endblock %}

  {% block formcontrols %}
  <div class="form-actions">
    <button class="btn btn-primary protected" type="submit" 
            value="save" name="action">
      {% trans "Save" %}
    </button>
    <button class="btn protected" type="submit" 
            value="cancel" name="action">
      {% trans "Cancel" %}
    </button>
  </div>
  {% endblock %}

</form>
{% endblock %}

{% endblock %}
