{% extends "layout-modal.html" %}
{% load i18n auth_tags %}

{% block header %}

<header>
  <h1>
    {% with object_name=object.ct_name %}
    {% if object %}
    {% blocktrans %}Edit {{ object_name }}{% endblocktrans %}
    {% else %}
    {% blocktrans %}New {{ object_name }}{% endblocktrans %}
    {% endif %}
    {% endwith %}
  </h1>
</header>

{% endblock %}

{% block body %}
{% block errors %}
  
{% if form.errors %}
<div class="alert alert-error">
  <strong>{% trans "Please correct the following errors" %}</strong>
  <ul class="basic-list">    
    {% for field in form %}
    {% if field.errors %}
    <li><strong>{{ field.label }}</strong>: {{ field.errors }}</li>
    {% endif %}
    {% endfor %}    
  </ul>
</div>
{% endif %}

{% endblock %}

{% block form %}
<form action="{{ view.edit_url }}" method="POST">
  {% csrf_token %}

  {% block formfields %}
  {{ form.as_p }}
  {% endblock %}

  {% block formcontrols %}
  <div class="btn-group form-actions">
    <button class="btn btn-primary protected" type="submit" 
            value="save" name="action">
      {% trans "Save" %}
    </button>
    <button class="btn protected" type="submit" 
            value="cancel" name="action">
      {% trans "Cancel" %}
    </button>
  </div>
  {% endblock %}

</form>
{% endblock %}

{% endblock %}
